/* work sens font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')
*{
    font-family: Work Sans;
}
/* navigation-section */
.header-section{
   
    background-color: rgba(255, 144, 14, 0.10);
    padding: 40px 250px;

}
.nav-title{
    text-align: center;
}
.navigation{
    display: flex;
    justify-content: space-between;

}

.nav-details{
    display: flex;

}

.navigation > ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
}
li > a{
    text-decoration: none;
}
.nav-description{
    align-items: center;
    
    font-size: 64px;

}
.brand-name{
    text-align: center;


}
.nav-paragrap{
  text-align: center;
  font-size: 16px;
  padding-bottom: 15px;

}
.btn-primary{
    color: white;
    background-color:orange;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 50%;
    border-radius: 10px;
}
.header-section > img{
    border-radius: 20px;
    align-items: center;
    width: 100%;
}
/* main part */
.main{
    background: #FFF;
}
.section-1{
    margin-top: 20px;
    display: flex;
}
.main-team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 20px;
    padding-left: 250px;
    padding-top: 50px;
    padding-right: 40px;
}
.Features{
    max-width: 1920px;
    padding-top: 240px;
    padding-left: 20px;
}
.features-title{
    font-size: 3rem;
}
.features-title >span{
    color: darkorange;
}


/* smaller device or mobile device responsive */
@media screen and (max-width:576px) {
    .navigation{
        flex-direction: column;
    }
    .header-section{
        padding: 15px;
    }
    .btn-primary{
        margin-left: 150px;
        g
    }
    .nav-paragrap{
        padding-bottom: 0px;
        padding-top: 0%;
    }
    .section-1{
        flex-direction: column;
    }
    .main-team{
        grid-template-columns: 1fr;
        padding-left: 20px;

    }
    .Features{
        padding-top: 15px;
    }

    
}